h1{
	color:skyblue;
}

#slide1{
	color:white;
}

#logo{
	height:10%;
	width:30%;
}

#slide2{
	background-color:indianred;
}

#gameSlide{
	background-color:lightgreen;
}

#gameoverSlide{
	background-color: red;
}

#gameContainer{
	margin:2em 4em 4em 4em;
	font-size:1.5em;
}

#result{
	color:red;
	font-size:1em;
}

#pokemonImage{
	height:12em;
	width:14em;
}

.option{
	color:orange;
	background-color:transparent;
	border:none;
	font-size:1em;
}