h1{
	color:skyblue;
}

#slide1{
	color:white;
}

#logo{
	height:10%;
	width:30%;
}

#slide2{
	background-color:indianred;
}

#gameSlide{
	background-color:lightgreen;
}

#gameoverSlide{
	background-color: red;
}

#slide2, #gameSlide, #gameoverSlide{
	display:none;
}

#gameContainer{
	margin:2em 4em 4em 4em;
	font-size:1.5em;
}

#countdown{
	color:red;
	font-size:2em;
}