.tab{
	background-color:red;
	float:left;
	width:32.9%;
	text-align:center;
}

#tab{
	width:100%;
	position:fixed;
	margin:auto;
	left:0;
	top:0;
}

.container{
	width:32.9%;
}

.dropdowns{
	width:32.55%;
	background-color: skyblue;
	display:inline-block; /* Note: span tags have inline block set to auto */
	vertical-align: top;
	display:none;
}

#dropContainer{
	width:100%;
	overflow:hidden;
	background-color: yellow;
}
