h1{
	color:skyblue;
}

#tabContainer{
	width:100%;
	background-color:red;
	display:block;
	text-align:center;
}

#tuQuoqueTab{
	background-color:lightgray;
	height:3em;
	width:33.33%;
	display:inline-block;
}

#illicitMajorTab{
	background-color:lightgray;
	height:3em;
	width:33.33%;
	display:inline-block;
}

#texasSharpTab{
	background-color:lightgray;
	height:3em;
	width:33.33%;
	display:inline-block;
}

.tab{
	font-family: helvetica;
}

#tuQuoqueDropdown{
	background-color:red;
	height:15em;
	width:33.33%;
	display:none;
}

#illicitMajorDropdown{
	background-color:orange;
	height:15em;
	width:33.33%;
	display:none;
}

#texasSharpDropdown{
	background-color:skyblue;
	height:15em;
	width:33.33%;
	display:none;
}

#dropdownContainer{
	width:100%;
	display:block;
	text-align:center;
}
