body{
	margin:0;
}
.tab{
	background-color:red;
	float:left; 
	width:33.33%;
	height:2em;
	padding-top:2%;
	text-align:center;
}

.container{
	width:32.9%;
}

.dropdowns{
	background-color:skyblue;
	float:left;
	width:33.33%;
	padding-top:1em;
	padding-bottom:1em;
	vertical-align: top;
	visibility:hidden; /* Where display:hidden makes elements both disappear and take up no space, visibility makes the same elements disappear but still take up space. */
}

#dropContainer{
	background-color: yellow;
}



